body{
    margin:0;
    padding:0;
    
}

nav li {
    cursor: pointer !important;
  }
 
.bg-loginbg{
    background-position: center;
    background-image:  url('src/assets/loginbg.jpg');
    background-color: rgba(68,187,164, 0.47);
}
.cVXxbE{
    background-color: black !important;
    box-shadow:0 0 1px 3px rgb(224, 221, 230) !important;
}
.auth-form-container{
    background-position: center;
}
.rec.rec-arrow {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.rec.rec-arrow:hover {
    background-color: transparent;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background: rgb(37, 37, 37);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 15px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(37, 37, 37);
    border-radius: 15px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination-sub-container {
    display: inline-flex;
    align-items: center;
  }
  
  .pagination-page {
    background-color: white;
    color: gray;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 0 4px;
    cursor: pointer;
  }
  
  .pagination-page:hover {
    background-color: #eee;
  }
  
  .pagination-page-active {
    background-color: green;
    color: white;
    border-color: green;
  }
  
  .pagination-page-disabled {
    background-color: #eee;
    color: gray;
    cursor: not-allowed;
  }
  
  .pagination-page-break {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    color: gray;
  }
  @media (max-width: 425px) {
    .flex {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 320px) {
    .w-28 {
      width: 100%;
      max-width: 100%;
    }
    .h-28 {
      height: auto;
      max-height: none;
    }
    .flex {
      justify-content: center;
      flex-wrap: wrap;
    }
    .hidden {
      display: none;
    }
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div1 { grid-area: 1 / 1 / 4 / 4; }
.div2 { grid-area: 1 / 5 / 4 / 8; }
.div3 { grid-area: 1 / 9 / 4 / 12; }
    .div4 { grid-area: 4 / 3 / 7 / 6; }
    .div5 { grid-area: 4 / 7 / 7 / 10; }