body{
    margin:0;
    padding:0;
    
}

nav li {
    cursor: pointer !important;
  }
 
.bg-loginbg{
    background-position: center;
    background-image:  url('src/assets/loginbg.jpg');
    background-color: rgba(68,187,164, 0.47);
}
.cVXxbE{
    background-color: black !important;
    box-shadow:0 0 1px 3px rgb(224, 221, 230) !important;
}
.auth-form-container{
    background-position: center;
}
.rec.rec-arrow {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.rec.rec-arrow:hover {
    background-color: transparent;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background: rgb(37, 37, 37);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 15px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(37, 37, 37);
    border-radius: 15px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination-sub-container {
    display: inline-flex;
    align-items: center;
  }
  
  .pagination-page {
    background-color: white;
    color: gray;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 0 4px;
    cursor: pointer;
  }
  
  .pagination-page:hover {
    background-color: #eee;
  }
  
  .pagination-page-active {
    background-color: green;
    color: white;
    border-color: green;
  }
  
  .pagination-page-disabled {
    background-color: #eee;
    color: gray;
    cursor: not-allowed;
  }
  
  .pagination-page-break {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    color: gray;
  }
  @media (max-width: 425px) {
    .flex {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 320px) {
    .w-28 {
      width: 100%;
      max-width: 100%;
    }
    .h-28 {
      height: auto;
      max-height: none;
    }
    .flex {
      justify-content: center;
      flex-wrap: wrap;
    }
    .hidden {
      display: none;
    }
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
      
  .div1 { grid-area: 1 / 1 / 4 / 4; }
  .div2 { grid-area: 1 / 5 / 4 / 8; }
  .div3 { grid-area: 1 / 9 / 4 / 12; }
  .div4 { grid-area: 4 / 3 / 7 / 6; }
  .div5 { grid-area: 4 / 7 / 7 / 10; }

.midsec {
  display: flex;
  flex-wrap: wrap;
}

.div6, .div7, .div8 {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .div6, .div7, .div8 {
    width: 100%;
  }
}
@media screen and (max-width: 1590px) {
  .hide-below-1590 {
    display: none;
  }
}

/*parallax*/
@media (max-width: 1920px) {
  .div10 {
    height: 600px; /* adjust height as needed */
  }
  .div11 {
    height: 600px; /* adjust height as needed */
  }
}
@media (max-width: 1603px) {
  .div10 {
    height: 700px; /* adjust height as needed */
  }
  .div11 {
    height: 600px; /* adjust height as needed */
  }
}
@media (max-width: 930px) {
  .div10 {
    height: 700px; /* adjust height as needed */
  }
}
@media (max-width: 890px) {
  .div10 {
    height: 800px; /* adjust height as needed */
  }
  .div11 {
    height: 680px; /* adjust height as needed */
  }
}

@media (max-width: 770px) {
  .div10 {
    height: 850px; /* adjust height as needed */
  }
  .div11 {
    height: 650px; /* adjust height as needed */
  }
}

@media (max-width: 640px) {
  .div10 {
    height: 850px; /* adjust height as needed */
  }
  .div11 {
    height: 700px; /* adjust height as needed */
  }
}

@media (max-width: 570px) {
  .div10 {
    height: 950px; /* adjust height as needed */
  }
  .div11 {
    height: 750px; /* adjust height as needed */
  }
}

@media (max-width: 544px) {
  .div10 {
    height: 975px; /* adjust height as needed */
  }
}

@media (max-width: 526px) {
  .div10 {
    height: 1000px; /* adjust height as needed */
  }
  .div11 {
    height: 800px; /* adjust height as needed */
  }
}

@media (max-width: 500px) {
  .div10 {
    height: 1050px; /* adjust height as needed */
  }
  .div11 {
    height: 850px; /* adjust height as needed */
  }
}

@media (max-width: 484px) {
  .div10 {
    height: 1100px; /* adjust height as needed */
  }
  .div11 {
    height: 875px; /* adjust height as needed */
  }
}

@media (max-width: 440px) {
  .div10 {
    height: 1250px; /* adjust height as needed */
  }
  .div11 {
    height: 950px; /* adjust height as needed */
  }
}

@media (max-width: 422px) {
  .div10 {
    height: 1300px; /* adjust height as needed */
  }
  .div11 {
    height: 1000px; /* adjust height as needed */
  }
}

@media (max-width: 403px) {
  .div10 {
    height: 1400px; /* adjust height as needed */
  }
  .div11 {
    height: 1070px; /* adjust height as needed */
  }
}

@media (max-width: 384px) {
  .div10 {
    height: 1500px; /* adjust height as needed */
  }
  .div11 {
    height: 1100px; /* adjust height as needed */
  }
}

@media (max-width: 380px) {
  .div10 {
    height: 1500px; /* adjust height as needed */
  }
  .div11 {
    height: 1100px; /* adjust height as needed */
  }
}

@media (max-width: 360px) {
  .div10 {
    height: 1575px; /* adjust height as needed */
  }
  .div11 {
    height: 1200px; /* adjust height as needed */
  }
}
@media (max-width: 350px) {
  .div10 {
    height: 1650px; /* adjust height as needed */
  }
  .div11 {
    height: 1250px; /* adjust height as needed */
  }
}
@media (max-width: 337px) {
  .div10 {
    height: 1700px; /* adjust height as needed */
  }
  .div11 {
    height: 1300px; /* adjust height as needed */
  }
}

@media (max-width: 320px) {
  .div10 {
    height: 1900px; /* adjust height as needed */
  }
  .div11 {
    height: 1400px; /* adjust height as needed */
  }
}

@media (max-width: 313px) {
  .div10 {
    height: 1950px; /* adjust height as needed */
  }
  .div11 {
    height: 1450px; /* adjust height as needed */
  }
}

@media (max-width: 300px) {
  .div10 {
    height: 2100px; /* adjust height as needed */
  }
  .div11 {
    height: 1700px; /* adjust height as needed */
  }
}

@media (max-width: 270px) {
  .div10 {
    height: 2400px; /* adjust height as needed */
  }
}
@media (max-width: 248px) {
  .div10 {
    height: 2600px; /* adjust height as needed */
  }
  .div11 {
    height: 2000px; /* adjust height as needed */
  }
}

@media (max-width: 450px) {
  .br-div {
    overflow-x: hidden;
  }
}




